* {
    margin: 0;
}

body {
    background-color: #030637;
    font-family: sans-serif;
    
}
h1{
    text-align: center;
    color: #EEE4B1;
    text-shadow: 0 0 5px gold, 0 0 5px gold, 0 0 5px gold;
    margin: 100px;
   
}

.sticky-lateral {
    position:-webkit-sticky;
    position: sticky;
    top: 20px;
    background-color: #f31d1d;
    width: 80px;
    height:80px;
    z-index: 1000; 
}
.sticky-lateral img {
    max-width: 70px; 
    margin-left: 5px;
    margin-top: 5px;
}
#hero_p p {
    color: beige;
    text-align: center;
    margin: 100px;
    margin-top: 40px;
}
#educacion h2,
#educacion p,
#educacion ul
{
    color:azure;
    text-align: center;
    margin: 100px;
}
#experiencia h2,
#experiencia p,
#experiencia ul
{
    color: rgb(171, 245, 255);
    text-align: center;
    margin: 100px;
}
#educacion ul,
#experiencia ul
{
    width: 15%;
    margin: 0px auto;
    text-align: left;
    padding-bottom: 60px;
}
#objetivos h2,
#objetivos p
{
    color: rgb(251, 200, 166);
    text-align: center;
    margin:100px;
}
hr {
    margin: 0 40px;
    border-top: none;
    border-bottom: 4px yellow solid;
}
#topgames h2,
#topgames ol
{
    color: rgb(171, 245, 255);
    margin: 100px;
}
#topgames h2{
    text-align: center;   
}
#educacion h2,
#experiencia h2,
#objetivos h2,
#topgames h2{
    color: #A6FF96;
}
#topgames ol{
    width: 15%;
    margin: 0px auto;
    text-align: left;
    padding-bottom: 50px;
}